@import "tailwindcss";

@font-face {
    font-family: Regular;
    src: url(./assets/fonts/PlusJakartaSans-Regular.ttf);
}

@font-face {
    font-family: Medium;
    src: url(./assets/fonts/PlusJakartaSans-Medium.ttf);
}

@font-face {
    font-family: SemiBold;
    src: url(./assets/fonts/PlusJakartaSans-SemiBold.ttf);
}

@font-face {
    font-family: Bold;
    src: url(./assets/fonts/PlusJakartaSans-Bold.ttf);
}

@font-face {
    font-family: ExtraBold;
    src: url(./assets/fonts/PlusJakartaSans-ExtraBold.ttf);
}


html,
body {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    min-height: 100vh;
    background: #fff;
}

/* Prevent background scroll when modal is open */
html.modal-open,
body.modal-open {
    overflow: hidden;
}


::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: #6E2C91;
    border-radius: 50px;
}

/* Hide scrollbar */
.hide-scrollbar {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.edittoolbar .ql-toolbar {
    border-bottom: 1px solid rgba(34, 34, 34, 0.10) !important;
    border: 1px solid transparent !important;
    /* position: absolute; */
    bottom: 0px;
    background: #F5F5F5;
    width: 100%;
    z-index: 999;
    padding: 7px 8px !important;
}

.edittoolbar .ql-container.ql-snow {
    border: none !important;
}

.edittoolbar .ql-editor {
    border-top: 1px solid rgba(34, 34, 34, 0.10) !important;
}

.edittoolbar .ql-toolbar.ql-snow .ql-picker-label {
    background-color: #fff;
    border-radius: 100px;
    /* padding: 6px 10px; */
    border: none !important;
}

.edittoolbar .ql-formats {
    border-right: 1px solid rgba(34, 34, 34, 0.10);
    padding-right: 14px;

}

@media screen and (min-width:768px) and (max-width:1200px) {
    .login_form {
        width: 100%;
    }
}

@media screen and (min-width:1440px) and (max-width:2560px) {
    .login_right {
        height: 100%;
    }

    .login_right_full {
        height: 78vh;
    }
}